<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
	  <!-- 주석 내용 -->
	  <add key="sql_server_info" value="server = 128.50.245.140, 1433; uid = fuser; pwd = mada3787; database = realtime;" />

    <add key="config_ebest_demo_주식_id" value="55501063478" />
    <add key="config_ebest_demo_선물_id" value="55551039494" />
    <add key="config_ebest_demo_공통_pw" value="0000" />
    
    <add key="config_ebest_hts_주식_id" value="20167694601" />
    <add key="config_ebest_hts_선물_id" value="20167694602" />
    <add key="config_ebest_hts_공통_pw" value="3693" />

	  <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>


  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>